<html>
    <head>
      <link rel="stylesheet" href="../bootstrap.min.css" />
      <link rel="stylesheet" href="../About us.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About us</title>
    </head>
    <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="../logo.png" alt="" width="80" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="Entrees">Entrées</a></li>
                  <li><a class="dropdown-item" href="PlatsPrin">Plats Principaaux</a></li>
                  <li><a class="dropdown-item" href="Dessert">Dessert</a></li>
                  <li><a class="dropdown-item" href="Miseenbou">Mises en Bouche</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/About us">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact us</a>
              </li>
             
             
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
              <a href="/signup" class="signup"><button class="btn btn-outline-secondary" type="submit">Sign up</button> </a>
          </div>
        </div>
      </nav>
        <div class="about-section">
            <h1 id="au">About Us</h1>
            <p>Notre projet personnel et professionnel nous a aidé à partager notre passion par la cuisine marocaine via ce site web.</p>
            
          </div>
          
          <h2 id="ot" style="text-align:center">Our Team</h2>
          <div class="row">
            <div id="yas">
              <div class="card">
                <img src="../YY.jpg" alt="Jane" style="width:100%">

                <div class="container">
                  <h2 style="font-family:brush script ;">YAAKOUBI Yasmine</h2>
                  
                  <p style="text-align:justify ;">Je m&apos;appelle YAAKOUBI Yasmine , je suis une étudiante en première année à l&apos;INPT , pour moi, la cuisine marocaine est plus que de la nourriture pour le corps; c&apos;est du réconfort pour mon âme. Et je voudrais partager avec vous à travers ce site Web certains de ces délicieux souvenirs pour votre propre plaisir.</p>
                  <p>yasmineyaak@gmail.com</p>
                  
                </div>
              </div>
            </div>
          
            <div id="abdel">
              <div class="card">
                <img src="../KA.jpg" alt="Mike" style="width:100%">
                <div class="container">
                  <h2 style="font-family:brush script ;">KIMDIL Abdellah</h2>
                  
                  <p style="text-align:justify ;">Je m&apos;appelle KIMDIL Abdellah , je suis un étudiant en première année à l&apos;INPT , notre cuisine, de part sa variété et son ancrage historique, est l&apos;une des plus fascinantes. Au regard de ses atouts et de notre savoir-faire, il sagit d&apos;une des plus belles incarnations du Génie marocain. </p>
                  <p>kimdilabdallah45@gmail.com</p>
                  
                </div>
              </div>
            </div>
          
            <div id="fati">
              <div class="card">
                <img src="../FL.jpg" alt="John" style="width:100%">
                <div class="container">
                  <h2 style="font-family:brush script ;">LAAZIZ Fatima Zahra</h2>
                  
                  <p style="text-align:justify ;">Je m&apos;appelle LAAZIZ Fatima Zahrae, je suis une étudiante en première année à l&apos;INPT , passionnée par la cuisine j'ai envie de partager cette passion avec les amoureux de la bonne cuisine. j&apos;y partage avec vous les recettes qui font partie de mon « carnet de cuisine » et également quelques astuces culinaires.</p>
                  <p>laazizfatimazahrae@gmail.com</p>
                  
                </div>
              </div>
            </div>
          </div>
          		<script src="../bootstrap.bundle.js"></script>

          
    </body>
</html>