<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
		<meta name="viewport"content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>Contact us</title>
		<link rel="stylesheet" href="../bootstrap.min.css" />
		<link href="../style.css"rel="stylesheet"type="text/css"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/">
				<img src="../logo.png" alt="" width="80" height="40">
			  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item dropend">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  Categories
					</a>
					<ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="Entrees">Entrées</a></li>
						<li><a class="dropdown-item" href="PlatsPrin">Plats Principaaux</a></li>
						<li><a class="dropdown-item" href="Dessert">Dessert</a></li>
						<li><a class="dropdown-item" href="Miseenbou">Mises en Bouche</a></li>
					</ul>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/About us">About us</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/contactus">Contact us</a>
				  </li>
				 
				 
				</ul>
				<form class="d-flex">
				  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				  <button class="btn btn-outline-secondary" type="submit">Search</button>
				</form>
				  <a href="/signup" class="signup"><button class="btn btn-outline-secondary" type="submit">Sign up</button> </a>
			  </div>
			</div>
		  </nav>
		<div class="contact-wrap">
			<div class="contact-in">
				<h1>Contact Info</h1>
				<h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
				<p>+212 658 987 654</p>
				<h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
				<p>bniin@gmail.com</p>
				<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
				<p>117,Madinat AL Irfane, Rabat Maroc</p>
				<ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="contact-in">
				<h1>Send a Message</h1>
				<form class="contact-form">
					<input type="text" id="name" placeholder="Full Name" class="contact-in-input">
					<input type="text" id="email" placeholder="Email" class="contact-in-input">
					<input type="test" id="subject" placeholder="Subject" class="contact-in-input">
					<textarea placeholder="Message" id="message" class="contact-in-textarea"></textarea>
					<input type="submit" value="SUBMIT" class="contact-in-btn">
				</form>
			</div>
			<div class="contact-in">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.471622322108!2d-6.867230699999979!3d33.9804179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76cc334a66611%3A0xee9ee437a0cfbaea!2sInstitut%20national%20des%20postes%20et%20t%C3%A9l%C3%A9communications!5e0!3m2!1sen!2sma!4v1650835571847!5m2!1sen!2sma" width="100" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>			</div>
		</div>
		<script src="../bootstrap.bundle.js"></script>
		<script src="../script3.js"></script>
	</body>
</html>