<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="../bootstrap.min.css" />
    <link rel="stylesheet" href="../style2.css" />
    <link rel="stylesheet" href="../Entrées.css" />
    
    <title>Entrées</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../logo.png" alt="" width="80" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropend">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Entrees</a></li>
                <li><a class="dropdown-item" href="#">Plats Principaaux</a></li>
                <li><a class="dropdown-item" href="#">Dessert</a></li>
                <li><a class="dropdown-item" href="#">Mises en Bouche</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/About us">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact us</a>
            </li>
           
           
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
            <a href="/signup" class="signup"><button class="btn btn-outline-secondary" type="submit">Sign up</button> </a>
        </div>
      </div>
    </nav>
    <div class="azerty">
      <main class="page">
      <section class="recipes-container">
        <!-- tag container -->
        <div class="tags-container">
          <h4>recipes</h4>
          <div class="tags-list">
            <a href="Entrees">Entrées</a>
            <a href="PlatsPrin">Plats Principaaux</a>
            <a href="Dessert">Dessert</a>
            <a href="Miseenbou">Mises en Bouche</a>
          </div>
        </div>
        <!-- end of tag container -->
        <!-- recipes list -->
        <div class="recipes-list">
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="https://recette.supertoinette.com/128227/b/kefta-amuse-bouche-revisite.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Amus Bouche de Serdine</h5>
            <p>Prep : 25min | Cook : 30min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="https://1.bp.blogspot.com/-1CY-GvFsNyw/Uwji-G5ApLI/AAAAAAAABbs/iAr5RHZc4AI/s1600/MINIS+BATBOUTS+FARCIS+A+LA+DINDE.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Betbout Farcé</h5>
            <p>Prep : 55min | Cook : 9min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="https://static.lexpress.fr/medias_10981/w_2048%2Ch_1146%2Cc_crop%2Cx_0%2Cy_72/w_640%2Ch_360%2Cc_fill%2Cg_north/v1466760966/briouates-a-la-viande-hachee_5622425.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Mini Briwat</h5>
            <p>Prep : 35min | Cook : 45min</p>
          </a>
          <!-- end of single recipe -->
          <!-- single recipe -->
          <a href="single-recipe.html" class="recipe">
            <img
              src="https://i.pinimg.com/originals/55/f3/1f/55f31fc68970268f9058034c3acb6fba.jpg"
              class="img recipe-img"
              alt=""
            />
            <h5>Amuse-bouches chèvre-abricot</h5>
            <p>Prep : 15min | Cook : 0min</p>
          </a>
          <!-- end of single recipe -->
        </div>
      </section>
    </main>
    </div>
    <!-- end of main -->
    <script src="./js/app.js"></script>
              		<script src="../bootstrap.bundle.js"></script>

  </body>
</html>